# Игнорирование файлов, скомпилированных Python
*.py[cod]
__pycache__/
*$py.class

# Игнорирование виртуального окружения
venv/
env/

# Игнорирование базы данных SQLite
db.sqlite3

# Игнорирование файлов логов
*.log

# Игнорирование статических файлов, собранных collectstatic (если они не должны попадать в репозиторий)
staticfiles/

# Игнорирование настроечных файлов среды (если используется)
*.env

# Игнорирование временных файлов редакторов
*.swp
*~
.idea/
.vscode/
